<!doctype html>
<html lang="en" ng-app="dashboardUI">
<head>
    <meta charset="utf-8">
    <title>DashBoard UI</title>
    
    <script src="js/utils.js"></script>
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/apps/dashboard.js"></script>
    <script src="js/models/misc.js"></script>
    <!-- Begin Framework Includes -->
    <script src="js/framework/chart-data.js"></script>
    <!-- End Framework Includes -->

    <script src="js/directives/highchartsv2.js"></script>
    <script src="js/controllers/ngLiquidityProviderController.js"></script>
    <script src="js/services/data-services.js"></script>
    <script src="js/lib/angular/angular-resource.js"></script>
    <script type="text/javascript" src="js/lib/jquery/jquery.min.1.8.2.js"></script>
    <style>
        html {
            font-family: Verdana;
        }
        .odd{background-color:#f0f0f0;}
    </style>
</head>
<body>

    <div id="ctrlRoot" ng-controller="ngLiquidityProviderController">
    <!--{{name}}<br />-->
    <br />
        <table border="0">
            <tr>
                <td colspan="2">
                	<h3 style="margin:0px;">Filters</h3>
                	<table border="0">
	                	<tr>
	                		<td style="vertical-align:top;border-right:dashed 1px gray;">
		                		<div style="margin:10pt">
			                		<table border="0" style="font-size:10pt;padding:8px">
			                			<tr>
			                				<td style="font-weight:bold">Buy Or Sell:</td>
			                				<td>
						                		<select style="width:193px" ng-model="buysellfilter" ng-options="lookUp.Value as lookUp.Key for lookUp in lkupBuySell">
													<option value="">-- Show All --</option>
												</select>
			                				</td>
			                			</tr>
			                			<tr>
			                				<td style="font-weight:bold">From:</td>
			                				<td><input ng-model="start" style="width:190px"/></td>
			                			</tr>
			                			<tr>
			                				<td style="font-weight:bold">To:</td>
			                				<td><input ng-model="end" style="width:190px"/></td>
			                			</tr>
			                		</table>
											
								</div>
					                		
	                		</td>
	                		<td style="vertical-align:top;border-right:dashed 1px gray;">
	                			<div style="margin:10px">
		                			<h5 style="margin-bottom:0px;margin-top:0px">Liquidity Providers</h5>
	                				<div style="max-height:125px;overflow-y:auto">
		                                <table border="0" style="width:200px">
		                                    <tr ng-repeat="liquidityProvider in liquidityProviders">
		                                        <td style="width:90%;font-size:10px">
		                                            <input
		                                              type="checkbox" 
		                                              name="liquidityProviders[]" value="{{liquidityProvider.id}}"
		                                              ng-checked="liquidityProvider.checked"
		                                              ng-model="liquidityProvider.checked"
		                                              ng-click="refreshData()"
		                                            />
		                                            <span>{{liquidityProvider.name}}</span>
		                                        </td>
		                                        <!--td  ng-style="liquidityProvider.style"></td-->
		                                    </tr>
		                                </table>
	                                </div>
                                </div>
	                		</td>
	                		<td style="vertical-align:top;border-right:dashed 1px gray;">
	                			<div style="margin:10px">
	                				<h5 style="margin-bottom:0px;margin-top:0px">Currency Pairs</h5>
	                				<div style="max-height:125px;overflow-y:auto">
		                                <table border="0" style="width:200px">
		                                    <tr ng-repeat="ccyPair in ccyPairs">
		                                        <td style="width:90%;font-size:10px">
		                                            <input
		                                              type="checkbox" 
		                                              name="ccyPairs[]" value="{{ccyPair.id}}"
		                                              ng-checked="ccyPair.checked"
		                                              ng-model="ccyPair.checked"
		                                              ng-click="refreshData()"
		                                            />
		                                            <span>{{ccyPair.id}}</span>
		                                        </td>
		                                        <!--td  ng-style="ccyPair.style"></td-->
		                                    </tr>
		                                </table>
	                                </div>
	                			</div>
	                		</td>
	                		<!-- td style="vertical-align:top;border-right:dashed 1px gray;">
	                			<div style="margin:10px">
	                				<h5 style="margin-bottom:0px;margin-top:0px">Canned Filters</h5>
	                				<button style="width:150px">Canned Filter 1</button><br/>
	                				<button style="width:150px">Canned Filter 2</button><br/>
	                				<button style="width:150px">Canned Filter 3</button><br/>
	                				<button style="width:150px">Canned Filter 4</button><br/>
	                				<button style="width:150px">Canned Filter 5</button><br/>
	                			</div>
	                		</td -->
	                		<!-- td>
	                			<div style="margin:10px">
	                				<input type="button" ng-click="refreshData()" value="Execute Visualization" style="width:150px;height:120px;background-color:green;color:white"/>
                				</div>
	                		</td -->
	                	</tr>
                	</table>
               	</td>
             </tr>
             <tr>
                <td style="vertical-align:top">
                	<table border="0" cellspacing="3" cellpadding="3" style="width:100%">
                		<tr>
                			<td style="background-color:gray;color:white">Provider</td>
                			<td style="background-color:gray;color:white">Currency Pair</td>
                			<td style="background-color:gray;color:white">Order Count</td>
                			<td style="background-color:gray;color:white">Order Amount</td>
                		</tr>
	                    <tr ng-repeat="lpOrderSummary in liquidityProviderOrdersSummary">
	                        <td ng-class-odd="'odd'" ng-class-even="'even'">{{lpOrderSummary.provider}}</td>
	                        <td ng-class-odd="'odd'" ng-class-even="'even'">{{lpOrderSummary.ccyPair}}</td>
	                        <td ng-class-odd="'odd'" ng-class-even="'even'">{{lpOrderSummary.ordersCount}}</td>
	                        <td ng-class-odd="'odd'" ng-class-even="'even'">{{lpOrderSummary.ordersAmount}}</td>
	                        
	                    </tr>
                	</table>

                </td>
             	<td style="vertical-align:top;text-align:right">
                    <table border="0">
                        <tr>
                            <td>
                            
                            	<highchart 
                                    id="ch1" 
                                    series="chartseries"
                                    check-chart-series-availability="hasDataDownloadCompleted()" style="width:450px">
                                </highchart>
                                 
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>


  <!--div ng-view>
            <h1>{{name}}</h1>
            <input type="text" ng-model="name" />
  </div-->
  <script src="js/lib/highcharts/highcharts.js"></script>
  <script src="js/lib/highcharts/modules/exporting.js"></script>
</body>
</html>
