<!doctype html>
<html lang="en" ng-app="dashboardUI">
<head>
    <meta charset="utf-8">
    <title>DashBoard UI</title>
    
    <script src="js/utils.js"></script>
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/apps/dashboard.js"></script>
    <script src="js/models/misc.js"></script>
    <!-- Begin Framework Includes -->
    <script src="js/framework/chart-data.js"></script>
    <!-- End Framework Includes -->

    <script src="js/directives/highcharts.js"></script>
    <script src="js/controllers/ngOrdersController.js"></script>
    <script src="js/services/data-services.js"></script>
    <script src="js/lib/angular/angular-resource.js"></script>
    <script type="text/javascript" src="js/lib/jquery/jquery.min.1.8.2.js"></script>
    <style>
        html {
            font-family: Verdana;
        }
    </style>
</head>
<body>

    <div id="ctrlRoot" ng-controller="ngOrdersController">
    <!--{{name}}<br />-->
    <br />
        <table border="0">
            <tr>
                <td>
                    <table border="0">
                        <tr>
                            <td style="font-size:48px"><a ng-click="rangeDown()" style="text-decoration:none;cursor:pointer"> &laquo; </a></td>
                            <td>
                                <hc-area-chart 
                                    id="ch1" 
                                    cd="data" 
                                    series="chartseries"
                                    controller-name="name" 
                                    has-data-download-completed="hasDataDownloadCompleted()" style="width:700px">
                                </hc-area-chart>
                            </td>
                            <td style="font-size:48px"><a ng-click="rangeUp()" style="text-decoration:none;cursor:pointer">  &raquo; </a></td>
                        </tr>
                    </table>
                </td>
                <td style="vertical-align:top">
                    <h4 style="margin-bottom:3px;border-bottom:solid 1px black">Filters</h4>
                    <table border="0">
                        <tr>
                            <td>Start:</td>
                            <td><input ng-model="start" > </td>
                        </tr>
                        <tr>
                            <td>End:</td>
                            <td><input ng-model="end" > </td>
                        </tr>
                    </table>
                    <h4 style="margin-bottom:3px;border-bottom:solid 1px black">Granularity (Zoom)</h4>
                    <table border="0">
                        <tr>
                            <td style="border-left:dashed 1px gray;padding-left:5px">
                                <select name="granularity">
                                    <option>Day</option>
                                    <option>Hour</option>
                                    <option>Minute</option>
                                    <option>Second</option>
                                </select>
                            </td>
                        </tr>
                    </table>
                    <h4 style="margin-bottom:3px;border-bottom:solid 1px black">Currency Pairs</h4>
                    <table border="0">
                        <tr>
                            <td style="border-left:dashed 1px gray;padding-left:5px">
                                <!--ng-click="addCurrencyPairSeries('AUD/CAD')"-->
                                <table border="0" style="width:200px">
                                    <tr ng-repeat="ccyPair in ccyPairs">
                                        <td style="width:90%">
                                            <input
                                              type="checkbox" 
                                              name="ccyPairs[]" value="{{ccyPair.name}}"
                                              ng-checked="ccyPair.checked"
                                              ng-model="ccyPair.checked"
                                              ng-click="refreshData()"
                                            />
                                            <span>{{ccyPair.label}}</span>
                                        </td>
                                        <td  ng-style="ccyPair.style"></td>
                                    </tr>
                                </table>


                            </td>
                        </tr>
                    </table>
                    <br />
                    <table border="0" style="width:100%;">
                        <tr>
                            <td><input type="button" ng-click="refreshData()" value="Reload Chart" style="width:200px"/></td>
                        </tr>
                    </table>
                    
                </td>
            </tr>
            <tr>
                <td style="width:90%" colspan="2">
                    <div ng-repeat="series in chartseries">
                        <h2 ng-style="{'color':series.color}">{{series.name}}</h2>
                        <table border="0" style="width:800px">
                            <tr>
                                <td ng-style="{'color':series.color, 'font-weight':'bold'}">Date/Time</td>
                                <td ng-style="{'color':series.color, 'font-weight':'bold'}">Rate</td>
                            </tr>
                            <tr ng-repeat="data in series.data">
                                <td>{{data.x}}</td>
                                <td>{{data.y}}</td>
                            </tr>
                        </table>
                    </div>

                </td>
            </tr>
        </table>
    </div>


  <!--div ng-view>
            <h1>{{name}}</h1>
            <input type="text" ng-model="name" />
  </div-->
  <script src="js/lib/highcharts/highcharts.js"></script>
  <script src="js/lib/highcharts/modules/exporting.js"></script>
</body>
</html>
