<script data-jsfiddle="common" src="../web1/scripts/integral/main.js"></script>
  <script data-jsfiddle="common" src="jquery.min.js"></script>
  <script data-jsfiddle="common" src="jquery.handsontable.full.js"></script>
  <link data-jsfiddle="common" rel="stylesheet" media="screen" href="jquery.handsontable.full.css">
  
  <script src="jquery-ui-1.10.4/jquery-ui-1.10.4.custom/js/jquery-1.10.2.js"></script>
  <script src="jquery-ui-1.10.4/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js"></script>
  <link rel="stylesheet" href="jquery-ui-1.10.4/jquery-ui-1.10.4.custom/css/smoothness/jquery-ui-1.10.4.custom.css">
