.top-buffer {
    margin-top: 24px;
}

body{
    font-family: Tahoma, Lucida Grande, Verdana, Arial, Helvetica, sans-serif;
}
.body-content {
    margin-top: 50px;
}
#zoomChart g.y {
    display: none;
}

.page-tabs {
    position: fixed;
    padding-top: 50px;
    width: 1151px;
    background-color: white;
    z-index: 2;
    top: 50px;
}
.page-tab-content {
    margin-top: 90px;
}
rect.extent {
    fill: #f5deb3;
}

#blotterTabs {
    margin-top: 50px;
    display: none;
}

.blockMsg {
    padding: 10px !important;
}
.ui-widget-content a {
    color: #1c94c4;
}

.success, .success * {
    color: green;
}
.rejected, .rejected * {
    color: red;
}
.failed, .failed * {
     color: orange;
 }
.highlightrate, .highlightrate * {
    color: orangered   !important;
}
.success a, .failed a, .rejected a {
    text-decoration: underline;
}

.order-form {
    padding-top: 50px;
}

.order-form h3 {
    margin-bottom: 25px;
}
#emscopetab-2 {
    position: relative;
}
#emscopetab-2 .page-2{
    display: none;
}
#emscopetab-3 {
    position: relative;
}
#emscopetab-4 {
    position: relative;
}
.table-tab-content {
    margin-top: 20px;
}
.form-holder {
    margin-top: 130px;
}

.orderDetails1 {
    width: 500px;
    float: left;
}
.orderDetails2 {
    width: 500px;
    float: right;
    clear: none !important;
}

.trdDetails1{
    float: left;
}
.trdDetPanel, .ordDetPanel{
    width: 1200px;
    margin: 20px;
    margin-top: 65px;
    margin-left: 75px;
}
.trdTabHead, .marketSSHeadC, .rateEventsHeaderC, .covrdOrTabHead, .covringOrdTabHead, .origOrdTabHead{
    background-color: #428BCA;
    border-color: #428BCA;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 15px;
}

.marketssdivC {
    max-height: 500px;
    overflow-y: auto;
}

.covtrdtable {
    float: left;
    border: 1px solid #DDDDDD;
    margin-bottom: 0px;
}
.covtrdDetPanel, .rateEvntsDetPanel{
    width: 1200px;
    clear: both;
    margin-left: 75px;
    margin-bottom: 20px;
    border: 1px solid #DDDDDD;
}

.marketSnapShotPanel, .coveredordDetPanel, .coveringordDetPanel, .orignatingngordDetPanel{
    margin-top: 20px;
    width: 1200px;
    margin-left: 75px;
    clear: both;
    border: 1px solid #DDDDDD;
    margin-bottom: 20px;
}
.marketSSdiv{
    float: left;
}
.msstable, .covrdordtable, .origntngordtable{
    border: 1px solid #DDDDDD;
    margin-bottom: 0px;
}
.covtDiv, .rateEventsDiv{
    max-height: 250px;
    overflow-y: auto;
    clear: both;
    /*margin-bottom: 20px;*/
}

.covrdOrdDiv, .covringOrdDiv, .origOrdDiv{
   max-height: 250px;
    overflow-y: auto;
    clear: both;
}

.misdiv{
    margin-left: -25px;
    margin-right: -25px;
    height: 900px;
}
.moreinfobtn{
    cursor: pointer;
    margin-left: 150px;
    padding:2px;
    font-size: 12px;
    border-radius: 3px;
}

.moduleContainer {
    margin: 50px 0;
}
.ordZoomContainer {
    margin: 0px;
}
.clear {
    clear: both;
}
.heading {
    text-decoration: underline;
}
.orderDetails1 tbody tr td, .orderDetails2 tbody tr td,
.tradeDetails tbody tr td, .tradeDetails thead tr td {
    padding: 4px 8px;
    font-size: 12px;
}

.orderDetails1 td.title, .orderDetails2 td.title {
    background-color: #eee;
}

.trdDetails1 td.title, .trdDetails2 td.title {
    background-color: #eee;
}

.tradeDetails thead tr td {
    font-weight: bold;
}
.maskEle {
    position: absolute;
    z-index: 2;
    background-color: #FFF;
}
.streamsContainer {
    margin: 20px 0;
}
.selectpicker {
    text-align: left;
}
.perf-console {
    position: fixed;
    height: 110px;
    width: 205px;
    background-color: #dff0d8;
    color: #000;
    bottom: 10px;
    right: 10px;
    font-size: 10px;
    padding: 0 0px 10px 10px;
}
.messages {
    overflow: auto;
    height: 70px;
}
.messages .failed {
    color: red;
}
.boldtext {
    font-weight: bold;
}

.confirmedTrades, .rejectedTrades {
    display: none;
    float: left;
    width: 50%;
}
.execSummaryContainer {
    display: none;
}
#execSummary tr th, #execSummary tr td {
    font-size: 12px;
}
#execSummary table {
    table-layout: fixed;
}
form[name="getOrdersForm"] .btn-group {
    display: block;
    width: 100%;
}
.buffer {
    margin: 20px 0;
}
.form-control[readonly] {
    cursor: pointer;
    background-color: #FFF;
}

.daterangepicker .ranges .input-mini {
    width: 105px !important;
}

.datetimerangepicker .ranges .input-mini {
    width: 105px !important;
}

.daterangepicker .ranges .range_inputs>div:nth-child(2),
.daterangepicker_end_input {
    padding-left: 0px !important;
}
.pc-close {
    float: right;
    font-weight: bold;
    cursor: pointer;
}
.pc-header {
    padding-right: 10px;
}
.align-right {
    float: right;
}
.align-left {
    float: left;
}
.login-bg {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.mask-login {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #000;
    opacity: 0.8;
    top: 0;
    left: 0;
}
.login-body {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
}
.login-container {
    background-color: #efffff;
    border: 1px solid #CCC;
    border-radius: 10px;
    width: 500px;
    height: 400px;
    margin: 0px auto;
    position: absolute;
    top: 35%;
    left: 35%;
}
.login-container .login-header {
    text-align: center;
    border-bottom: 1px solid #CCC;
}
.login-form-content {
    padding: 20px 40px;
}
.login-btn {
    margin-top: 30px;
}
.errMsgContainer {
    display: none;
    margin-bottom: 20px;
}
.errMsg {
    color: red;
}
.bootstrap-switch>div>span, .bootstrap-switch>div>label {
    height: auto !important;
}


.trdtitle{
    background-color: #eee;
    font-size: 12px;
}
.trdtabval{
    font-size: 12px;
    width: 200px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mktsstd{
    font-size: 12px;
}
.highlight{
    font-size: 12px;
    color: #FF0000;
}
.rateevttd1{
    font-size: 12px;
    border: 1px solid #dddddd;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rateevttd2{
    font-size: 12px;
    min-width: 450px;
    border: 1px solid #dddddd;
}
.rateevttd3{
    font-size: 12px;
    min-width: 200px;
}
.trdIdLink, .ordLink{
    cursor: pointer;
    text-decoration: underline;
    color: #428bca;
    font-size: 12px;
    font-weight: bold;
}

.highlightbenchmarkrategreen {
    color: green; 
    font-weight: bold;
}

.highlightbenchmarkrateorange{
    color: orange;
    font-weight: bold;
}

#emscopetab-1 .dataTable,
#emscopetab-1 .dataTables_info,
#emscopetab-1 .dataTables_paginate{
    font-size: 12px;
}
.dataTable tr td, .dataTable tr th {
    font-size: 12px;
}
#oTTradesTable.dataTable tr.odd,
#oTTradesTable.dataTable tr.even {
    background-color: #fff;
}

#oTTradesTable.dataTable tr.odd td.sorting_1,
#oTTradesTable.dataTable tr.even td.sorting_1 {
    background-color: transparent;
}
#oTTradesTable.dataTable tr.success td.sorting_1 {
    background-color: #dff0d8;
}
/*This style css is used for treeview of order */
.orderNavigateTreeView3{
   // max-height: 500px;
    overflow: hidden;
}
.orderNavigateTreeView3 g.node {
    cursor: pointer;
}
.orderNavigateTreeView3 g.node circle {
    fill: #aaa;stroke-width: 3px;stroke: steelblue;
}
.orderNavigateTreeView3 g.node text {
    font: 12px sans-serif;
}
.orderNavigateTreeView3 path.link {
    fill: none;stroke-width: 1.5px;//stroke: #ccc;
}
.display-none{
    display: none;
}
.dc-legend-item > line{
    stroke-width: 12px;
    stroke-dasharray:0;
}

/* order tree css for collapas and expand div*/
.orderNavigateTreeView {
    position: absolute; top: 142px; margin-bottom: 20px;
    background: #EBEBEB; border: 1px solid #CCCCCC;  padding-left: 10px;
    width: auto; font: 12px Arial, Helvetica, sans-serif;
    color: #333333; z-index: 9;
}
.orderNavigateTreeView button {
    float: right;
    border: 1px solid #999999;
    background: #999999;
    color: #CECECE;
    text-align: left;
    width: 20px;
}
.orderNavigateTreeView button:hover {
    background: #990000;
    border: 1px solid #990000;
}
.orderNavigateTreeView div {
    padding-right: 50px;
}

/*order tree plot css for orderTab code*/
.orderNavigateTreeView ul { padding: 0em;width:auto;}
.orderNavigateTreeView ul li, .orderNavigateTreeView ul li ul li {
    position:relative; top:0; bottom:0; padding-bottom: 7px;}
.orderNavigateTreeView ul li ul { margin-left: 4em;}
.orderNavigateTreeView li { list-style-type: none;}
.orderNavigateTreeView li a {
    padding:0 0 0 10px; position: relative; top:1em;}
.orderNavigateTreeView li a:hover { text-decoration: none;}
.orderNavigateTreeView a.addBorderBefore:before {
    content: ""; display: inline-block; width: 2px;
    height: 28px; position: absolute; left: -45px;
    top:-19px; border-left: 1px solid gray;
}
.orderNavigateTreeView li:before {
    content: ""; display: inline-block; width: 23px; height: 0;
    position: relative; left: 0em; top: 0.9em; border-top: 1px solid gray;
}
.orderNavigateTreeView ul li ul li:last-child:after, .orderNavigateTreeView ul li:last-child:after {
    /*content: '';*/ display: block; width: 1em; height: 1em; position: relative; background: #fff; top: 9px; left: -1px;
}
.orderNavigateTreeView3 li.hasSubmenu{ text-align : start !important;}
.versionDetails{
    margin-top: 10px;
    font-size: 10px;
}

#contextualHelpModal div.modal-dialog{
    width: 70% !important;
}
.contextGreenIcon{
     background: url("../img/qa_icon.jpg") repeat scroll -49px -72px / 95px auto rgba(0, 0, 0, 0);
    display: inline-block;
    height: 20px;
    margin-left: 10px;
    position: absolute;
    width: 22px;
}
.contextBlueIcon{
    background: url("../img/qa_icon.jpg") repeat scroll -1px -72px / 95px auto rgba(0, 0, 0, 0);
    display: inline-block;
    height: 20px;
    margin-left: 10px;
    position: absolute;
    width: 22px;
}
div.daterangepicker td.disabled{
    background-color: #eee !important;
    border-radius: 0 !important;
}


#right_content h3{
    background: #EEEEEE;
    padding:  10px;
}
.left-side-bar{
    box-shadow: 4px 0px 3px rgb(210, 210, 210); 
    height: 100%;
    padding: 0;
    background: #efefef;
    border: 1px solid #dedede;
}
#treeboxbox_tree{
    background:  transparent !important;
}
.left-side-bar h3{
    background: none repeat scroll 0% 0% rgb(129, 129, 129); color: rgb(255, 255, 255); padding: 5px 10px; font-family: Tahoma,Lucida Grande,Verdana,Arial,Helvetica,sans-serif;
}
.left-side-bar table{
    width: 100%;
}
span.selectedTreeRow{
    border: 1px solid #51c3eb;
    color: #006189;
    display: block;
    min-height: 27px !important;
    padding: 5px !important;
    width: 80%;
    font-size: 14px !important;
}